.Toast{
  background-color: var(--color-60);
  box-shadow: 0 0 8px var(--color-10);
  position: fixed;
  bottom: 24px;
  right: 24px;
  min-width: 200px;
  max-height: 100px;
  z-index: 2000;
  padding: 8px;
  border-radius: 8px;
  color: var(--color-10);
}

.toast-title{
  font-size: 20px;
}
.toast-body{
  font-size: 16px;
  font-weight: 400;
}
.toast-functions{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
.toast-function{
  width: 120px;
  height: 24px;
  font-size: 16px;
  background-color: var(--color-10);
  color: var(--color-60);
}