.Page{
  width: 100%;
  position: relative !important;
  overflow: hidden;
  height: 90vh;
  display: flex;
  flex-direction: column;
}
.Page.page-login{
  justify-content: center;
  align-items: center;
}

.Page.page-authed{
  height: 97vh;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
}

.page-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.page-header-functions{
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
}
.page-header-functions .page-function:hover{
  background-color: var(--color-30);
  color: var(--color-10);
  font-weight: 400;
}
.page-header-functions .page-function{
  background-color: transparent;
  color:var(--color-30);
  border: 1px solid var(--color-30);
}

.page-body{
  width: 100%;
  height: 100%;
  margin-top: 4px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  position: relative;
}
.page-body::-webkit-scrollbar {
  width: 1em;
  cursor: pointer;
}
.page-body::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.page-body::-webkit-scrollbar-thumb {
  background-color: var(--color-60);
  outline: 1px solid slategrey;
}
.page-body table{
  background-color: transparent;
  border-collapse: collapse;
  border: none;
  max-width: 99%;
  width: 99%;
  height: auto;
  }
.page-body table thead{
  background-color: var(--color-60);
} 
.page-body table thead tr th{
  text-align: start;
  padding: 4px;
}
.page-body table tbody tr td{
  border-top: 10px solid transparent;
  padding: 4px;
  cursor: pointer;
}
.page-body table tbody tr:nth-child(odd){
  background-color: #06455c;
}
.page-body table tbody tr{
  background-color: #084a63;
  color: var(--color-60);
  opacity: 0.9;
}

.page-body table tbody tr:hover{
  background-color: var(--color-10);
  opacity: 1;
}
.table-button{
  margin: 2px;
  width: 100px;
  height: 24px;
  background-color: var(--color-10);
  color: var(--color-30);
  border: 1px solid var(--color-30);
}
.table-button:hover{
  background-color: var(--color-30);
  color: var(--color-10);
  border: 1px solid var(--color-30);
}
.page-functions{
  width: 100%;
  height: 40px;
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.page-function{
  background-color: var(--color-10);
  color: var(--color-60);
  padding: 8px;
}
.table-function{
  width: 100px;
  margin: 0 2px;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid var(--color-30);
  padding: 4px;
  color: var(--color-60);
}
.table-function:hover{
  background-color: var(--color-30);
  color: var(--color-10)
}

/* SCHEDULES */
.page-schedules{
  display: flex;
  flex-direction: column;
  width: 140vw;
  position: relative;
}

.page-schedules .sched-row{
  display: flex;
  flex-direction: row;
}

.sched-row-titles{
  position: -webkit-sticky;
  top: 0;
  position: sticky;
  background-color: var(--color-10);
  z-index: 500;
}
.sched-row .sched-title{
  width: 200px;
  text-align: center;
  color: var(--color-60);
  border-bottom: 1px solid var(--color-60);
  margin: 2px;
  background-color: var(--color-10);
}
.sched-row .sched-title.sched-title-time{
  width: 140px;
}
.sched-body{
  display: flex;
  flex-direction: row;
}
.sched-col{
  position: sticky;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sched-col .sched-cell{
  justify-content: center;
  display: flex;
  align-items: center;
  width: 140px;
  height: 100px;
  background-color: var(--color-10);
  color: var(--color-30);
  border: 1px solid var(--color-60);
  font-size: 16px;
  font-weight: 400;
  margin: 2px;
  padding: 4px;
}
.sched-body .sched-content{
  display: flex;
  flex-direction: column;
}
.sched-body .sched-row .sched-cell{
  width: 200px;
  height: 100px;
  margin: 2px;
  padding: 4px;
  color: var(--color-60);
}
.sched-row.sched-row-first{
  margin-top: 16px
}

.sched-body .sched-row .sched-cell.sched-cell-no-value{
  border: 1px solid var(--color-10);
  background-color: transparent;
  display: flex;
  justify-content: flex-end!important;
  align-items: flex-end!important;
}
.sched-cell.sched-cell-no-value .sched-cell-function{
  width: 32px;
  height: 24px;
}
.sched-cell-function{
  width: 24px;
  height: 24px;
  justify-self: flex-end;
  align-self: flex-end;
}
.sched-cell-function:hover{
  background-color: var(--color-10);
  color: var(--color-60)
}


.sched-cell.sched-cell-with-value{
  height: 100%;
  flex-direction: column;
  overflow-y: auto;
  padding: 2px;
}
.sched-cell .sched-sub-cell{
  background-color: var(--color-30);
  color: var(--color-10);
  width: 100%;
  border: 1px solid var(--color-60);
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2px 0;
}


.page-header-notifications{
  padding: 4px;
  background-color: var(--color-10);
  width: auto;
  margin: 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-header-notifications span{
  color: var(--color-60);
  margin: 2px;
}

.page-header-notifications .page-function{
  margin: 2px;
  border: 1px solid var(--color-60);
  color: var(--color-60);
}
.page-header-notifications .page-function:hover{
  background-color: var(--color-60);
  color: var(--color-10);
}


.page-function-top{
  background-color: var(--color-30);
  color: var(--color-10);
  font-weight: bold;
}

.page-function-report{
  width: 100%;
  border: 1px solid var(--color-60);
  background-color: transparent;
  color: var(--color-60)
}
.page-function-report:hover{
  background-color: var(--color-60);
  color: var(--color-10);
}


.page-body-top{
  margin-top: 40px;
}

table{
  margin-top: 40px;
}

.after-table{
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  font-size: 14px;
}
.after-table p {
  font-size: 14px;
  font-weight: bold;
}

.page-body-report .page-body-top p{
  font-size: 12px;
}

.page-body-report{
  background-color: var(--color-60);
  padding: 40px;
  width: 793.7007874px;
  height: 1122.519685px;
  margin-left: auto;
  margin-right: auto;
}
.page-body-report::-webkit-scrollbar{
  display: none;
}

.page-body-report table{
  min-width: 0;
  border: 1px solid black;
  width: inherit;
  font-size: 12px;
}
.page-body-report table tbody tr{
  background-color: var(--color-60) !important;
}
.page-body-report table tr td{
  color: black;
  font-weight: bold;
  margin: 0 !important;
  padding: 0;
}

.page-body-top .logo{
  width: auto;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-10);
  margin-bottom: 40px;
}
.page-body-top .logo h5{
  color: var(--color-60);
  margin-top: 8px;
}
.page-body-top .logo img{
  width: 40px;
  height: 40px;
}